@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');

html, body{
    width: 99%;
    height: 99%;
    background: linear-gradient(180deg, #A6BDCF 0%, #CDE3F1 100%);
}
a{
    text-decoration: none;
    color: #000000;
    }
button, input{
    border:none;
}
h1{
    color: #463C3B;
    text-align: center;
    font-family: Khand;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 16.471% */
    margin-left: 50px;
    margin-bottom: 40px;
}
.centerDiv{
    padding-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form, .btnDiv{
    width:auto;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.sch_in{
    width: 500px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 46px;
    background: #F5F5F5;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    margin-right: 10px;

     font-size: 10px;
     font-style: normal;

     padding: 0px 2% 0px 2%
}
.inbtn{
    width: 60px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);

     font-size: 10px;
     font-style: normal;

     padding: 0px 2% 0px 2%
}
a.btn{
    width: 110.078px;
    height: 23.703px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-size: 12px;
    font-style: normal;
    text-align:center;

    margin-right: 5px;
    padding: 10px 2% 0px 2%
}