<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlaYeast</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?after}"></link>
</head>
<body>
    <div class="centerDiv">
        <h1 th:text="'PlaYeast'"></h1>
        <form method="post" action="search" class="btnDiv">
            <input name="name" class="sch_in">
            <button type="submit" class="inbtn">검색</button>
        </form>
        <div class="btnDiv">
            <a th:href="@{/search}" class="btn">음악보러가기</a>
            <a th:href="@{/add}" class="btn">음악추가가기</a>
            <a th:href="@{/}" class="btn">음악들으러가기</a>
            <a th:href="@{/makeList}" class="btn">리스트만들러가기</a>
        </div>

    </div>

</body>
</html>