<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlaYeast-Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css?after}"></link>
</head>
<body>
    <div class="centerDiv">
        <h1 th:text="'PlaYeast'"></h1>
            <hr>
        <h4 th:text="'음악검색하기'"></h4>
        <div class="btnDiv">
            <a th:href="@{/search}" class="btn">음악보러가기</a>
            <a th:href="@{/add}" class="btn">음악추가가기</a>
            <a th:href="@{/}" class="btn">음악들으러가기</a>
            <a th:href="@{/makeList}" class="btn">리스트만들러가기</a>
        </div>

        <form method="post" action="search" class="btnDiv">
            <input name="name" class="sch_in">
            <button type="submit" class="inbtn">검색</button>
        </form>
        <table border>
            <tr>
                <td>트랙번호</td>
                <td>제목</td>
                <td>아티스트</td>
                <td>앨범</td>
            </tr>
            <tr th:each="music:${list}">
                <td>
                    <span th:text="${music.music_track}"/>
                </td>
                <td>
                    <span th:text="${music.music_name}"/>
                </td>
                <td>
                    <span th:text="${music.music_artist}"/>
                </td>
                <td>
                    <span th:text="${music.music_album}"/>
                </td>

            </tr>
        </table>
    </div>
</body>
</html>